@import "../../styles/colors";

.cart {
	box-shadow: 0 0 0 1px rgba(67, 41, 163, 0.08), 0 1px 5px 0 rgba(67, 41, 163, 0.08);
	position: sticky;
	top: 65px;
	.order-list {
		max-height: 400px;
		overflow-y: auto;
		.cart-item {
			border-bottom: 1px solid #ccc;
		}
		.name {
			font-size: 14px;
			width: 240px;
		}
		.quantity {
			min-width: 30px;
			flex-basis: 30px;
			font-size: 14px;
		}
		.price {
			text-align: right;
			min-width: 50px;
			flex-basis: 50px;
		}
		.delete {
			&:hover {
				path,
				svg {
					transition: color 0.5s;
					color: $red-color;
					cursor: pointer;
				}
			}
		}
	}
}
