@import "../../styles/colors";
@import "../../styles/variables";

.sticky-nav {
	position: sticky !important;
	top: 0 !important;
	z-index: 99 !important;
	box-shadow: 0 0 0 1px rgba(67, 41, 163, 0.1), 0 1px 8px 0 rgba(67, 41, 163, 0.1);
}
#header-search-input {
	width: 300px;
	@media screen and (max-width: $lg-breakpoint) {
		width: 150px;
	}
}
.shopping-cart {
	&:hover {
		.float-cart {
			right: 0;
		}
	}
}
#shopping-cart-icon {
	font-size: 25px !important;
	&:hover {
		cursor: pointer;
	}
	path {
		color: $red-color;
	}
}
.brand {
	&:hover {
		color: $red-color;
	}
}
.float-cart {
	position: fixed;
	top: 60px;
	right: -350px;
	width: 350px;
	height: auto;
	background-color: $light-color;
	border-radius: 4px;
	z-index: 100;
	transition: right 0.5s;
	border-left: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
	&:hover {
		right: 0;
	}
	@media screen and (max-width: $lg-breakpoint) {
		top: 0;
		right: -80%;
		height: 100vh;
		width: 80%;
		border-radius: 0;
	}
	.name {
		font-size: 14px;
		width: 200px;
		@media screen and (max-width: $md-breakpoint) {
			width: 65%;
			font-size: 13px;
		}
	}
	.quantity {
		min-width: 30px;
		flex-basis: 30px;
		font-size: 14px;
	}
	.price {
		text-align: right;
		min-width: 50px;
		flex-basis: 50px;
	}
	.delete {
		&:hover {
			path,
			svg {
				transition: color 0.5s;
				color: $red-color;
				cursor: pointer;
			}
		}
	}
}
.float-cart.active {
	right: 0;
}

/* Mobile menu */
.mobile-menu {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	z-index: 99;
	box-shadow: 0 0 0 1px rgba(67, 41, 163, 0.1), 0 1px 8px 0 rgba(67, 41, 163, 0.1);
}
.mobile-menu .active {
	div,
	path,
	svg {
		color: $red-color;
	}
}

.float-cart-icon {
	position: fixed;
	bottom: 75px;
	right: 20px;
	background-color: $red-color;
	width: 60px;
	height: 60px;
	text-align: center;
	border-radius: 50%;
	svg,
	path {
		margin: 20.5px 0;
		color: $light-color;
		font-size: 22px;
	}
}
