@import "../../styles/colors";
@import "../../styles/variables";

.sticky-nav {
	position: sticky !important;
	top: 0 !important;
	z-index: 99 !important;
	box-shadow: 0 0 0 1px rgba(67, 41, 163, 0.1), 0 1px 8px 0 rgba(67, 41, 163, 0.1);
}
#header-search-input {
	width: 300px;
	@media screen and (max-width: $lg-breakpoint) {
		width: 150px;
	}
}
.shopping-cart {
	&:hover {
		.float-cart {
			right: 0;
		}
	}
}
#shopping-cart-icon {
	font-size: 25px !important;
	&:hover {
		cursor: pointer;
	}
	path {
		color: $red-color;
	}
}

/* Mobile menu */
.mobile-menu {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	z-index: 99;
	box-shadow: 0 0 0 1px rgba(67, 41, 163, 0.1), 0 1px 8px 0 rgba(67, 41, 163, 0.1);
}
.mobile-menu .active {
	div,
	path,
	svg {
		color: $red-color;
	}
}

.float-cart {
	position: fixed;
	top: 60px;
	right: -350px;
	width: 350px;
	height: auto;
	background-color: $light-color;
	border-radius: 4px;
	z-index: 100;
	transition: right 0.5s;
}
