@import "styles/colors";
@import "styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;1,400&display=swap");

/* Global css */
* {
	font-family: "Poppins", sans-serif;
	color: $dark-color;
}
body {
	overflow-x: hidden;
}
a {
	text-decoration: none !important;
	color: inherit;
}
.red-color {
	color: $red-color !important;
}
.dark-color {
	color: $dark-color;
}
.red-btn {
	background-color: $red-color !important;
	color: $light-color;
	border-color: $red-color;
}
.text-sm {
	font-size: 14px;
}
.navbar-light .navbar-nav .nav-link {
	color: $red-color !important;
}
.transform-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translate(0%, -50%);
	z-index: 1;
}
.outline-btn {
	background-color: transparent;
	color: $red-color;
	border: 1px solid rgba(67, 41, 163, 0.2);
	font-size: 15px;
	&:hover {
		color: $red-color;
		border-color: $red-color !important;
	}
}
.my-badge {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 10px 15px;
	border-radius: 7px;
	font-size: 18px;
}
